@import "var.scss";

.container  {
    margin-top: 25px;
    background-color: white;
    // border: 5px solid grey;
    box-shadow: 0 0 30px 0 $--primary-color;
    margin: 50px;
    border-radius: 25px;
}

.title {
    color: black;
    font-weight: 900;
    font-size: x-large;
    text-decoration:  underline solid $--primary-color;
    padding-bottom: 20px;
}

.container:hover {
    border: 5px solid $--primary-color .2px;
    animation: mymove 7s infinite;
}

@keyframes mymove {
    50% {box-shadow: 0 0 50px 0 rgb(0, 255, 0);}
}

.frase {
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    text-align: right;
}

.gardenry{
    font-weight: 900;
    color: $--primary-color;
    text-shadow: 1px 1px 1px black;
}

.nosotros {
    padding-bottom: 25px;
}

.foto {
    width: 150px;
    height: 150px;
    border: grey 3px solid;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 0 40px 0 rgb(0, 255, 0);
}

.circle {
    position: relative;
    display: inline-block;
    text-align: center;
}

.circle2 {
    position: relative;
    display: inline-block;
    text-align: center;
}

.circle:hover .overlay {
    opacity: 1;
}

.circle2:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 20px;
    right: 0;
    width: 156px;
    height: 155px;
    opacity: 0;
    border-radius: 50%;
    transition: .5s ease;
    background-color: $--primary-color;
}

.overlay .text {
    position: absolute;
    opacity: 0;
    color: black;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transition: .5s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.nombre {
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 68px;
    bottom: 0px;
    left: 5px;
    right: 0;    
}