.modal {
  position: fixed;
  width: 25rem;
  height: fit-content;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 0 4px #3e3e3e;
}
.beforeModal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(2px);
  background: #00000088;
  z-index: 0;
}
.header {
  text-transform: capitalize;
  font-size: 1.5rem;
  text-align: left;
  padding: 1rem 1.5rem;
  padding-bottom: 0rem;
}
.body {
  padding: 1rem;
  max-height: 50vh;
  overflow: hidden;
  overflow-y: auto;
}
.footer {
  background: #e3e3e3;
  padding: 1rem;
  border-top: solid 1px #a3a3a3;
  display: flex;
  justify-content: flex-end;

  button {
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    border: solid 1px #a3a3a3;
    background: transparent;
    cursor: pointer;
    margin: 0 0.25rem;
    transition: border-color, background 0.25s;

    &:focus {
      outline: none;
    }

    &:hover {
      border-color: #c3c3c3;
      background: #c3c3c3;
    }
  }
  button[type="submit"] {
    border-color: #3e3e3e;
    background: #3e3e3e;
    color: #fff;

    &:hover {
      border-color: #1e1e1e;
      background: #1e1e1e;
    }
  }
}
