.divPrincipal {
  margin: 5px;
  width: 45em;
  text-align: end;
  flex-direction: column;
}

.link1 {
  padding-top: 5px;
  text-decoration: none;
  color: #298100;
}

.parrafo1 {
  margin: 0 1.5em 0 0;
}

.imagen1 {
  margin-left: 100px;
  width: 2em;
}
