.form {
  display: flex;
  flex-direction: column;
  .actions {
    display: flex;
  }

  .img{
    border: solid 1px #a3a3a3;
    border-radius: .25rem;
    cursor: pointer;
    margin: .5rem;
    padding: 1rem;
    background-color: #e3e3e3;
    font-size: .85rem;
  }
  
}
.imgurl {
  display: block;
  position: relative;
  animation: fade-in 1s;
  animation-fill-mode: forwards;

}

.imgurld {
  position: relative;
  animation: fade-out 1s;
  animation-fill-mode: forwards;
}


@keyframes fade-in {
  from {
    opacity: 0;
    left:1em;
  }
  to {
    opacity: 1;
    left:0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    left:0;
  }
  50% {
    left:2em;
    opacity: 0;
    visibility: hidden;
  }
  100%{
    opacity: 0;
    position: absolute;
  }
}




