@import "var.scss";

.page {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20rem 1fr;
  min-height: 100%;
}
.table {
  width: stretch;
width: -moz-available;
  table-layout: fixed;
  th,
  td {
    text-align: left;
    padding: 0.25rem 0.125rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  th{
    position: sticky;
    top: 0;
    background-color: #ffffff;
  }
  tr:nth-child(even) {
    background-color: #00000011;
  }
  thead {
    button {
      height: 3rem;
      background: transparent;
      border: none;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }

  th{
    button{
      font-size: 1rem;
      width: 100%;
    }
    .asc{
      box-shadow: 0 -1rem 0 $--primary-color;
    }
    .desc{
      box-shadow: 0 1rem 0 $--primary-color;
    }
  }
  
  tbody {
    button {
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: none;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }
}
.modal {
  z-index: 100;
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: auto;

  &:before {
    content: " ";
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(2px);
    background: #00000055;
    z-index: 0;
  }
}
