@import "bp.scss";

.main {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.formSection {
  width: 100%;
  height: 90vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  img {
    width: 10rem;
    padding: 2.5rem;
    padding-bottom: 0.5rem;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
    .title {
      font-size: 2rem;
      color: #00cc76;
      padding: 1rem;
    }

    input {
      width: 15rem;
      border-color: transparent;
      border-style: solid;
      border-width: 2px;
      border-radius: 9999px;
      padding: 0.5rem 1rem;
      margin: 0.5rem;
      color: #1d3557;
      box-shadow: 0 0 4px #d5d5d5;
      transition-property: background, box-shadow;
      transition-duration: 0.25s;
      ::placeholder {
        color: #457b9d;
      }
      :focus {
        outline: none;
      }
      :hover {
        box-shadow: 0 1px 8px #c5c5c5;
      }
    }

    .buttonSubmit {
      background: #00cc76;
      color: #ffffff;
      cursor: pointer;
      :hover {
        background: #00cc76;
      }
    }
  }
  .otherMethods {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
  }
  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #333;
    margin: 1rem 0rem;
    font-size: 0.75rem;
    width: 100%;
    ::before,
    ::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid #c5c5c5;
    }
    ::before {
      margin-right: 1em;
    }
    ::after {
      margin-left: 1em;
    }
  }
  .buttonGroup {
    display: flex;
    margin: 1rem 0rem;
    button {
      border-radius: 9999px;
      border: none;
      padding: 0.75rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      box-shadow: 0 0 6px #d5d5d5;
      transition-property: background, box-shadow, color;
      transition-duration: 0.25s;
      cursor: pointer;
      margin: 0.5rem 1rem;
      :hover {
        box-shadow: 0 1px 10px #c5c5c5;
        color: #00cc76;
      }

      .fab {
        font-size: 1.5rem;
      }
    }
    .a {
      transition-property: color;
      transition-duration: 0.25s;
      font-weight: 600;
      cursor: pointer;
      :hover {
        color: #00cc76;
      }
    }
  }
}
