@import "var.scss";
.card {
  border-radius: 0.5rem;
  border: solid 1px #e3e3e3;
  background: #fff;
  transition: 0.25s;
  box-shadow: 2px 1px 8px transparent;
  margin: 0.25rem 1rem;
  &:hover {
    box-shadow: 2px 1px 8px #d3d3d3;
  }

  .header {
    padding: 0.25rem 0.5rem;
    border-bottom: solid 1px #e3e3e3;
  }
}

.header {
    font-weight: 600;
    text-align: left;
    width: stretch;
    width: -moz-available;
    margin: 0;
    padding: 0.25rem 0.5rem;
    border-bottom: solid 1px #e3e3e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    
  i {
    cursor: pointer;
    transition: color 0.25s;

    &:hover {
      color: $--danger-color;
    }
  }
}

.body {
  text-align: left;
  width: stretch;
  width: -moz-available;
  margin: 0;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}
.footer {
  background: #f3f3f3;
  padding: 0.25rem;
  border-top: solid 1px #e3e3e3;
  display: flex;
  justify-content: flex-end;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  button {
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    border: solid 1px #a3a3a3;
    background: transparent;
    cursor: pointer;
    margin: 0 0.25rem;
    transition: border-color, background 0.25s;

    &:focus {
      outline: none;
    }

    &:hover {
      border-color: #c3c3c3;
      background: #c3c3c3;
    }
  }
  button[type="submit"] {
    border-color: #3e3e3e;
    background: #3e3e3e;
    color: #fff;

    &:hover {
      border-color: #1e1e1e;
      background: #1e1e1e;
    }
  }
}
