@import "bp.scss";
@import "var.scss";

.page {
  position: relative;
  display: grid;
  width: stretch;
  height: auto;
  padding: 0 1rem;

  @include respond-to("default") {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-items: center;
  }
  @include respond-to("small") {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    align-items: flex-start;
  }
  @include respond-to("medium") {
    grid-template-columns: 480px 1fr;
    grid-template-rows: auto;
    align-items: flex-start;
  }
}

.carusel {
  border-radius: 0.5rem;
  overflow: hidden;
  @include respond-to("small") {
    grid-area: 1 / 1 / span 4 / span 1;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  text-transform: capitalize;
  width: stretch;
  margin-left: 1rem;
}

.price {
  background: #00000011;
  border-left: solid 4px $--primary-color;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  align-items: flex-start;
  padding: 1rem;
  margin-left: 1rem;
  box-sizing: border-box;
  width: stretch;

  @include respond-to("small") {
    margin-left: 1rem;
    max-width: 20rem;
    margin-right: auto;
  }

  label {
    font-weight: 100;
    margin-right: 0.25rem;
  }

  p {
    margin: 0;
    font-weight: 600;
  }
}

.category {
  width: stretch;
  @include respond-to("small") {
    margin-left: 1rem;
  }
  section {
    width: stretch;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  span {
    background: #fff;
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 9999px;
    box-shadow: 0 0 4px #d5d5d5;
  }
}

.description {
  @include respond-to("small") {
    grid-area: 5 / 1 / span 1 / span 2;
  }
  width: calc(100vw - 2rem);
  display: flex;
  flex-direction: column;
  text-align: left;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #333;
  margin: 1rem 0rem;
  font-size: 1rem;
  width: stretch;
  &:before,
  &:after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #c5c5c5;
  }
  &:before {
    margin-right: 1em;
  }
  &:after {
    margin-left: 1em;
  }
}
