@import "var.scss";

.page {
  width: stretch;
  max-width: 45rem;
  margin: 0 auto;
}
.checkoutDraw {
  position: absolute;
  z-index: -1;
  height: 50vh;
  width: 50vw;
  right: 0;
  top: calc(50vh - 4rem)
}
.draw {
  height: 50vh;
  width: stretch;
  margin: 0 auto;
  object-fit: contain;
  padding: 2rem;
  box-sizing: border-box;
}
.toPayment {
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    border: solid 1px #a3a3a3;
    background: transparent;
    cursor: pointer;
    margin: 0.5rem;
    transition: border-color, background, 0.25s;
    font-size: 1rem;

    &:focus {
      outline: none;
    }

    &:hover {
      border-color: $--primary-color;
      background: $--primary-color;
      color: #fff;
    }
}
.totalOrder {
  display: flex;
  margin: 0 1rem;
  margin-top: 1.5rem;
  width: stretch;
  border-top: solid 1px #a3a3a3;
  span {
    font-weight: 600;
    font-size: 1.5rem;
  }
  .money {
    text-align: right;
    width: stretch;
  }
}

.error {
  color: $--danger-color;
  border-color: $--danger-color;

  button[type="submit"] {
    border-color: $--danger-color;
    background: $--danger-color;
    color: #fff;
    user-select: none;
    cursor: not-allowed;

    &:hover {
      border-color: $--danger-color;
      background: $--danger-color;
      }
  }
}
.title {
  font-size: 2.5rem;
  margin: 0.75rem 0;
}
.subtitle {
  font-size: 1rem;
  margin: 0.75rem 0;
}
.buttonToHome {
  background: #00cc76;
  color: #fff;
  cursor: pointer;
  border: none;
  margin: 1rem auto;
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: 100;
  border-radius: 9999px;
  width: 100vw;
  max-width: 20rem;
}
