.home {
  height: 100%;
  position: relative;
  .imgBackground {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  .content {
    position: relative;
    z-index: 1;
    background: #00000066;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  span {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 100;
  }
  .title {
    font-size: 2rem;
    font-weight: 600;
  }
  .button {
    background: #00cc76;
    color: #fff;
    cursor: pointer;
    border: none;
    margin: 1rem auto;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 100;
    border-radius: 9999px;
  }
  .logo {
    width: 10rem;
    padding: 1rem;
  }
}
