@import "var.scss";

.menu {
  position: relative;

  aside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    background: #ffffff66;
    width: 100vw;
    max-width: 24rem;
    height: calc(100vh);
    transform: translateX(100%);
    transition: transform 0.25s;
    border-left: solid 1px #e3e3e3;
    backdrop-filter: blur(2px);
    justify-content: space-between;

    header {
      width: stretch;
      background: #fff;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      span {
        width: stretch;
        text-align: left;
        margin: 0 1.25rem;
        font-weight: 600;
      }
    }

    section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: stretch;
      overflow: hidden;
      overflow-y: auto;
    }
  }

  .inHome {
    background: #ffffff;
  }

  .showCart {
    transform: translateX(0%);
  }
}

.buttonMenu {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  box-sizing: border-box;
  background: transparent;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  i {
    font-size: 1.5rem;
  }

  .badge {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $--primary-color;
    color: #fff;
    font-size: 0.65rem;
  }
}

.totalOrder {
  display: flex;
  margin: 0.5rem 1rem;
  width: stretch;

  span {
    font-weight: 600;
    font-size: 1.5rem;
  }
  .money {
    text-align: right;
    width: stretch;
  }
}

.checkOut {
  width: stretch;
  background: #00cc76;
  color: #fff;
  cursor: pointer;
  border: none;
  margin: 0.5rem 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: 100;
  border-radius: 0.5rem;
}

.money {
  &::before {
    margin-right: 0.25rem;
    content: "$";
  }
}

.emptyDraw {
  height: 50vh;
  width: 100%;
  margin: 0 auto;
  object-fit: contain;
  padding: 2rem;
  box-sizing: border-box;
}
.buttonToHome,.buttonToProducts {
  background: #00cc76;
  color: #fff;
  cursor: pointer;
  border: none;
  margin: 1rem auto;
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: 100;
  border-radius: 9999px;
  width: 100vw;
  max-width: 20rem;
}