@import "bp.scss";

.searchBar {
  display: flex;
  height: 2rem;
  width: stretch;
  border: none;
  overflow: hidden;
  border-radius: 9999px;
  box-shadow: 0 0 4px #d5d5d5;
  transition-property: background, box-shadow;
  transition-duration: 0.25s;
  margin: 0 0.5rem;

  input {
    margin: 0;
    margin-left: 0.75rem;
    width: stretch;
    border: none;
    text-align: center;
    @include respond-to("default") {
      width: calc(100vw - 16.6rem);
    }
  }
  input:focus,
  input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  .submit {
    background: #00cc76;
    color: #fff;
    cursor: pointer;
    border: none;
    height: auto;

    i {
      padding: 0 0.5rem;
    }

    &:focus {
      outline: none;
    }
  }
}
