@import "bp.scss";
@import "var.scss";

.page {
  display: grid;
  grid-template-rows: auto;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  @include respond-to("default") {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 100%;
  }
  @include respond-to("small") {
    max-width: 60rem;
    grid-template-columns: 10rem minmax(0rem, 50rem);
    grid-template-rows: auto;
  }

  aside {
    display: flex;

    @include respond-to("default") {
      flex-direction: column-reverse;
      align-items: center;
      max-height: 50vh;
      height: fit-content;
      width: 100vw;
    }
    @include respond-to("small") {
      flex-direction: column;
      align-items: flex-start;
    }

    .filterButton {
      display: flex;
      span,
      button {
        width: stretch;
        width: -moz-available;
        display: none;
      }
  
      span {
        padding: 0.5rem;
        font-weight: 600;
      }
  
      button {
        padding: 0.5rem;
        border: none;
        background: transparent;
        font-weight: 600;
  
        &:focus {
          outline: none;
        }
  
        i {
          padding-left: 0.5rem;
        }
      }
  
      @include respond-to("default") {
        button {
          display: initial;
        }
      }
      @include respond-to("small") {
        span {
          display: initial;
        }
      }
    }

    .navList {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      @include respond-to("default") {
        align-items: center;
        height: 0;
      }
      @include respond-to("small") {
        align-items: flex-start;
      }
    }
    .navList.show {
      @include respond-to("default") {
        height: auto;
      }
    }

    .navLink {
      text-decoration: none;
      color: #111;
      padding: 0.5rem 1.25rem;
      font-weight: 400;
    }
    .activeNav {
      font-weight: 600;
    }
  }
}

.error {
  color: $--danger-color;
  border-color: $--danger-color;

  button[type="submit"] {
    border-color: $--danger-color;
    background: $--danger-color;
    color: #fff;
    user-select: none;
    cursor: not-allowed;

    &:hover {
      border-color: $--danger-color;
      background: $--danger-color;
      }
  }
}

.orderPage {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;

  @include respond-to("default") {
    width: 100vw;
  }
  .ordersCard {
    margin-bottom: 1.5rem;
  }
  .order {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    cursor: pointer;
    .info {
      display: flex;
      div {
        font-size: 0.85rem;
        color: #3e3e3e;
        margin: 0.25rem 1rem;
        display: flex;
        @include respond-to("default") {
          width: 100vw;
          flex-direction: column;
        }
        @include respond-to("small") {
          width: 100vw;
          flex-direction: row;
        }
            
        label {
          margin-right: 1rem;
        }
        span {
          font-weight: 600;
        }
      }
    }
    .pendingActionGroup {
      display: flex;
      justify-content: center;

      button {
        margin: 0.5rem;
        margin-top: 1rem;
        width: 8rem;
        height: 2rem;
        cursor: pointer;
        border: solid 1px transparent;
        font-weight: 100;
        border-radius: 0.5rem;
        transition: 0.5s;
      }
      .buttonToPayment {
        background: $--primary-color;
        border-color: $--primary-color;
        color: #fff;
        &:hover {
          color: $--primary-color;
          background: #fff;
        }
      }
      .buttonCancelOrder {
        background: #fff;
        color: $--danger-color;
        border-color: $--danger-color;
        &:hover {
          color: #fff;
          background: $--danger-color;
        }

      }
    }
    + .order {
      border-top: solid 1px #e3e3e3;
    }
    .orderDetail {
      h2 {
        margin: 0.5rem 1rem;
        border-bottom: solid 1px #e3e3e3;
      }
      header {
        margin: 0 1rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-bottom: solid 1px #e3e3e3;
      }
      main {
        margin: 0 1rem;
        article{
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          border-bottom: solid 1px #e3e3e3;
          span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: capitalize;
          }
        }
      }
      .headerInfo {
        display: grid;
        @include respond-to("default") {
          grid-template-columns: 100%;
          place-items: center;
          width: 100%;
        }
        @include respond-to("small") {
          grid-template-rows: 12rem;
          grid-template-columns: 3fr 1fr;
        }

        .info {
          flex-direction: column;
          @include respond-to("default") {
            margin-bottom: 1rem;
            width: inherit;
          }
          div {
            @include respond-to("default") {
              width: 100vw;
              flex-direction: row;
            }
            @include respond-to("small") {
              margin-top: 1rem;
              width: 100vw;
              flex-direction: row;
            }
                
            font-size: 1.25rem;
            label {
              margin-right: 1rem;
            }
            span {
              font-weight: 600;
            }
          }
          .status {
            span {
              text-transform: capitalize;
              color: $--primary-color;
            }
          }
        }
      }
    }
  }
}
