@import "bp.scss";
@import "var.scss";

.page {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 10rem 1fr;
  min-height: 100%;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;

  aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .navLink {
      text-decoration: none;
      color: #111;
      padding: 0.5rem 1.25rem;
      font-weight: 400;
    }
    .activeNav {
      font-weight: 600;
    }
  }
}

.error {
  color: $--danger-color;
  border-color: $--danger-color;

  button[type="submit"] {
    border-color: $--danger-color;
    background: $--danger-color;
    color: #fff;
    user-select: none;
    cursor: not-allowed;

    &:hover {
      border-color: $--danger-color;
      background: $--danger-color;
      }
  }
}

.stepBar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;

    .dot {
      border-radius: 9999px;
      width: 1rem;
      height: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 2px #3e3e3e; 
    }

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      text-align: center;
    }

    + .step {
      &::before {
        content: ' ';
        border-top: solid 2px #3e3e3e;
        position: absolute;
        width: calc(10% - 10px);
      }
    }
  }
}
