@import "bp.scss";

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  height: 100vh;
}
.header {
  background: white;
  display: grid;
  grid-template-rows: 4rem;
  align-items: center;
  width: stretch;

  .logo {
    width: 2rem;
    padding: 1rem;
  }
  .brand {
    font-size: 1.5rem;
    padding: 1rem;
    color: #0e0e0e;
  }

  .buttonMenu {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    box-sizing: border-box;
    background: transparent;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    i {
      font-size: 1.5rem;
    }
  }

  @include respond-to("default") {
    grid-template-columns: 4rem 4rem 1fr;
    .brand {
      visibility: collapse;
    }
  }
  @include respond-to("small") {
    grid-template-columns: 4rem 1fr 20rem;
  }
}
.headerBrand {
  display: flex;
  align-items: center;
}
.content {
  overflow: hidden;
  overflow-y: auto;
}
.footer {
  height: 0rem;
}
