@import "bp.scss";
@import "var.scss";

.nav {
  position: relative;

  nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    position: fixed;
    z-index: 100;
    background: #fff;
    width: 100vw;
    max-width: 25rem;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.25s;
    justify-content: space-between;
    top:0;
    border-right: solid 1px #e3e3e3;

    @include respond-to("default") {
      max-width: initial;
    }

    header {
      width: stretch;
      width: -moz-available;
      background: #fff;
      display: grid;
      grid-template-columns: 4rem 1fr;
      justify-content: flex-start;
      align-items: center;

      div {
        height: 100%;
        display: flex;
        align-items: center;
      }

      .logo {
        width: 2rem;
        padding: 1rem;
      }
      .brand {
        font-size: 1.5rem;
        padding: 1rem;
        color: #0e0e0e;
      }
    }

    section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .navLink {
      text-decoration: none;
      color: #111;
      padding: 0.5rem 1.25rem;
      border-left: solid 0.25rem transparent;
    }
    .activeNav {
      border-color: $--primary-color;
    }
  }

  .showNav {
    transform: translateX(0%);
  }
}

.buttonMenu {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  box-sizing: border-box;
  background: transparent;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  i {
    font-size: 1.5rem;
  }
}
